<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>volumetric fire for three.js</title>
  <script src="https://aframe.io/releases/0.7.0/aframe.min.js"></script>
  <script src="//cdn.rawgit.com/donmccurdy/aframe-extras/v3.12.4/dist/aframe-extras.min.js"></script>
  <script src="/aframe-fire-component.js"></script>
</head>
<body>
  <a-scene >
    <!-- Player -->
    <a-entity camera universal-controls>
    </a-entity>
    <!-- Fire -->
    <a-entity id="fire" fire></a-entity>
  </a-scene>
</body>
</html>